node_modules/
vendor/
.git/
.env
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/hot
public/storage
storage/app/public/*
.idea/
.vscode/
.gitattributes
.gitignore
Dockerfile
docker-compose.yml
docker/
k8s/
README.md
CHANGELOG.md
test*.php
*.log
*.sql
*.zip
